html,body,.main{
    margin: 0px;
    height: 100%;
}

.main{
    display: flex;
}

.sidebar{
    width: 72px;
    display: flex;
    flex-direction: column;
    

    min-height: 100%;

    padding: 8px 12px 20px 12px;
    box-sizing: border-box;

}

.up{
    display: flex;
}

.iconSize{
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 4px 0px;
    padding: 12px;
}

.middle{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 8px;
}

.ownProfile{
    height: 24px;
    width: 24px;
    margin: 4px 0px;
    padding: 12px;
}
.picture{
    height: 100%;
    border-radius: 50px;
}

.down{
    display: flex;
    flex-direction: column;


}

